@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  position: absolute;
  margin-top: 11px;
  margin-left: 17px;
}
nav{
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0,0,0,150px;
  overflow: hidden;
  

}

.current{
  float: left;
}

.current a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ddd;
  color: black;
}

.primary-nav  input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

section{
  padding: 7em;
}

.subhead{
  position: relative;
  margin-left: 21em;
  padding-bottom: 3em;
  color: gray;
  word-spacing: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6em;
}

h1{
  padding-left: 6em;
  padding-bottom: 2em;
  color: black;
  word-spacing: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.6em;
}

a{
  float: left;
  padding-bottom: 2em;
}


.primary-cta{
  background-color: #007af3;
  position: absolute;
  margin-left: 13em;
  color: white;
  font-weight: bold;
  border-radius: 2em;
  font-size: 1.5em;
  text-decoration: none;
  padding: 1em;
}

.secondary-cta{
  position: absolute;
  margin-left: 35em;
  display: none;
}

img{
 position: absolute;
 margin: 0 10em 5em 0;
}

.features-section{
  background-color: #20272e;
  color: white;
  margin:0;
  line-height: 3em;
  padding: 5em;
}
.reviews-section{
  padding-bottom: 1em;
}
.now{
  padding: 0;
  color: white;
  text-decoration: none;
  font-style: bold;
  font-size: 1.5em;
  line-height: 2em;
  text-transform: capitalize;
  letter-spacing: 0.3em;
  word-spacing: 0.8em;
  position: relative;
}

.now:before{
  content: '';
   left: -1.3em;
   width: 30px;
   height: 30px;
   position: absolute;
   background-image: url('../images/tickmark.jpg');
   background-size: contain;
}

h2{
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 1em;
  color: gray;
  font-weight: bold;
}

.person{
  display: flex;
  text-align: center;
  width: auto;
  position: relative;
}

.person .person-cta{
  border-radius: 2em;
  background: #007af3;
  margin:5px;
  margin-bottom: 50px;
  width: 500px;
  color: black;
  padding: 20px;
  line-height: 20px;
  position: relative;
}
.contact-section .container form {
  display: block;
  margin-top: 0em;
  margin-left: 200px;
}
#email{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 15px;
  width: 80%;
  margin-bottom: 2em;
}
#name{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 15px;
  width: 80%;
  margin-bottom: 2em;
}
#message{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 15px;
  width: 80%;
  margin: 1em;
}
#send-message-cta{
  color:#F2F2F2;
  display: block;
  border: none;
  margin-right: 30px;
  margin-left:  20px;
  margin-bottom: 1.5em;
  outline: none;
  border: 2px solid gray;
  border-radius: 1em;
  font-size: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  cursor: pointer;
  text-transform: uppercase;
  background:#007af3;
}
.contact-left{
  padding-left: 0;
  float: left;
  background-color: #e8e1ffad;
  border-radius: 2em;
}
h3{
  color: rgb(208, 241, 15);
  opacity: 0.6;
}

.site-footer {
  background: orange;
}

#footer-content {
  background: #20272e;
  color: white;
  margin-top: 21em;
  padding-top: 1em;
  text-align: center;
}

.footer-text-cta{
  line-height: 0.2em;
  font-size: medium;
  padding: 0%;

}

/*# sourceMappingURL=try1.css.map *