/*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: url(images/login.jpg) no-repeat;
    background-size: cover;
}


section{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .content{

    display: flex;
section .imgbx{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgbx img{
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .content{
    
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .content .formbx{
    width: 50%;
}
section .content .formbx  h2{
    color:white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 4px solid tomato;
    display: inline-block;
    padding-bottom: 2px;
}
section .content .formbx .inputBx{
    margin-bottom: 20px;
}
section .content .formbx .inputBx span{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;
    color:white;
    font-weight: 300;
    letter-spacing: 1px;
}
section .content .formbx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 16px;
    background:transparent;
    color: white;
    letter-spacing: 1px;
}

section .content .formbx .inputBx input[type="submit"]{
    width: 115%;
    margin-top: 20px;
    border: none;
    outline: none;
    font-weight: 500;
    background: rgb(238, 58, 58);
    color: white;
    cursor: pointer;
}
section .content .formbx .inputBx input[type="submit"]:hover{
    background: red;
}
section .content .formbx .inputBx #signup{
    color: rgb(77, 73, 73);
    margin-top: 40px;
    letter-spacing: 1px;
}
section .content .formbx .inputBx #signup a{
    color: rgb(202, 38, 38);
}*/

body{
    background-image: url('images/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}