<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="About-us.css">
</head>
<body> 

    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis doloribus omnis! Enim nemo ipsum quasi nesciunt impedit totam tempore ratione repellendus neque quaerat quas, dolor voluptas eaque obcaecati eos pariatur error voluptatibus earum dolore ea. Voluptas, vitae. Quos ipsam cum dolorum facilis, repellendus unde.
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
<!-- -------------------------------------------3D Card----------------------------------------- -->

    <h3>Our Team</h3>
    <section>
        <div class="wrap">
            <div class="side-a">
                <img src="./images/aboutUs1.png" alt="">
            </div>
            <div class="side-b">
                <h2>Taj Mahal</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum non unde distinctio facilis fugit praesentium at.</p>
            </div>
        </div>
        <div class="wrap">
            <div class="side-a">
                <img src="./images/aboutUs2.png" alt="">
            </div>
            <div class="side-b">
                <h2>Taj Mahal</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum non unde distinctio facilis fugit praesentium at.</p>
            </div>
        </div>
        <div class="wrap">
            <div class="side-a">
                <img src="./images/aboutUs3.png" alt="">
            </div>
            <div class="side-b">
                <h2>Taj Mahal</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum non unde distinctio facilis fugit praesentium at.</p>
            </div>
        </div>
        <div class="wrap">
            <div class="side-a">
                <img src="./images/aboutUs4.png" alt="">
            </div>
            <div class="side-b">
                <h2>Taj Mahal</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum non unde distinctio facilis fugit praesentium at.</p>
            </div>
        </div>
    </section>

</body>
</html>