<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dashboard.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Admin</a></li>
        </ul>
    </nav>


    <div class="wrapper">
        <input type="checkbox" id="btn">
        <label for="btn" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <nav id="sidebar">
            <div class="title">Side Menu</div>
            <ul class="list-item">  
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fas fa-align-justify"></i>Client</a></li>
                <li><a href="#"><i class="fas fa-address-card"></i>Services</a></li>
                <li><a href="#"><i class="fas fa-cogs"></i>Settings</a></li>
                <li><a href="#"><i class="far fa-envelope"></i>Features</a></li>
                <li><a href="#"><i class="fas fa-diagnoses"></i>About us</a></li>
                <li><a href="#"><i class="fas fa-language"></i>Language</a></li>

                <div class="icons">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-github-square"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></i></a>
                </div>
                
            </ul>

        </nav>

    </div>


</body>
</html>