<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/expore.css">
</head>
<body>
    
    <section class="rooms">
        <div class="container">
            <h5 class="section-heading">
                <span class="heading">Luxurious </span>
                <span class="sub-heading">Affordable rooms</span>
            </h5>
            <div class="grid rooms-grid">
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_1.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_2.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_3.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_4.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_5.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_6.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_7.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_10.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_8.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>

                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="./images/room_9.jpg" alt="">
                        <h5 class="room-name">Astro Hotel</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price">$200 <span class="per-night">Per Night</span> </span>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio delectus repellendus quibusdam, vel illo molestiae cum
                        </p>
                        <a href="" class="btn rooms-btn">Book now &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -----------------------------------------footer-------------------------------------------- -->
    <footer class="footer">
        <div class="container"> 
          <div class="footer-content">
            <div class="footer-content-brand">
              <a href="#" class="logo">
                <img src="./images2/logo.png" alt="" class="logo-image">
              </a>
              <div class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro maiores illum inventore eius voluptates, voluptatem provident illo officia aliquam magnam voluptate esse nemo, quis soluta, ducimus laboriosam aspernatur. Nobis aliquam, impedit quos inventore fugiat modi!
              </div>
            </div>
            <div class="social-media-wrap">
              <h4 class="footer-heading">Follow us</h4>
              <div class="social-media">
                <a href="#" class="sm-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="sm-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="sm-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="sm-link"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>

</body>
</html>