<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <link rel="stylesheet" href="/Homepage.css">
</head>
<body>

  <header class="header">
    <div class="cointainer">
      <nav class="nav">
        <a href="#" class="logo">
          <img src="logo.png" alt="">
        </a>
        <div class="hamburger-menu">
          <i class="fas fa-align-justify"></i>
          <i class="far fa-times-circle"></i>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>

          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About us</a>

          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>

          </li>
          <li class="nav-item">
            <a href="Login_register-page" target="-blank" class="nav-link">Login</a>

          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- -------------------------------------------------------------------------------------->
  <main>
    <div class="hero">
      <div class="container">
        <div class="main-heading">
          <h1 class="title">Discover</h1>
          <h1 class="subtitle">Luxury hotels</h1>
        </div>
        <a href="#" class="btn">Explore now
          <span class="dots"> <i class="fas fa-ellipsis-h"></i> </span>
        </a>
      </div>
    </div>
  </main>
<!-- -------------------------------------------------------------------------------------------->
  






<!-- ------------------------------------------------------------------------------------ -->
  <section class="hotel">
    <div class="container"> 
      <h5 class="section-head">
        <span class="heading">Explore</span>
        <span class="sub-heading">Our beutiful hotels</span>
      </h5>
      <div class="grid">
        <div class="grid-item featured-hotels">
          <img src="hotel_astro_resort.jpg" alt="" class="hotel-image">
          <div class="trans-link">
            <a href="expore" target="-blank" class="exploreMore" ><i class="fas fa-biking"></i>Explore more</a>
          </div>
          <h5 class="hotel-name">Astro Hotel</h5>
          <span class="hotel-price">From $288/night</span>
          <div class="hotel-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <a href="#" class="btn btn-gradient">Book now
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
          </a>
        </div>

        <div class="grid-item featured-hotels">
          <img src="house.jpg" alt="" class="hotel-image">
          <div class="trans-link">
            <a href="expore" target="-blank" class="exploreMore" ><i class="fas fa-biking"></i>Explore more</a>
          </div>
          <h5 class="hotel-name">Enchanted Garden</h5>
          <span class="hotel-price">From $300/night</span>
          <div class="hotel-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <a href="#" class="btn btn-gradient">Book now
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
          </a>
        </div>

        <div class="grid-item featured-hotels">
          <img src="hotel_the_paradise.jpg" alt="" class="hotel-image">
          <div class="trans-link">
            <a href="expore" target="-blank" class="exploreMore" ><i class="fas fa-biking"></i>Explore more</a>
          </div>
          <h5 class="hotel-name">The Paradise</h5>
          <span class="hotel-price">From $350/night</span>
          <div class="hotel-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <a href="#" class="btn btn-gradient">Book now
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- --------------------------------------------------------------------------- -->
  <footer class="footer">
    <div class="container"> 
      <div class="footer-content">
        <div class="footer-content-brand">
          <a href="#" class="logo">
            <img src="logo.png" alt="" class="logo-image">
          </a>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro maiores illum inventore eius voluptates, voluptatem provident illo officia aliquam magnam voluptate esse nemo, quis soluta, ducimus laboriosam aspernatur. Nobis aliquam, impedit quos inventore fugiat modi!
          </div>
        </div>
        <div class="social-media-wrap">
          <h4 class="footer-heading">Follow us</h4>
          <div class="social-media">
            <a href="#" class="sm-link"><i class="fab fa-facebook"></i></a>
            <a href="#" class="sm-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="sm-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="sm-link"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="Homepage.js"></script>
</body>
</html>