*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: #f1f1f1;
}
.about{
    margin-top: 60px;
    background: url('AboutUsImage2.jpg') no-repeat left;
    background-size: 59%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 50px 0;
}
.inner-section{
    width: 53%;
    float: right;
    background-color: #fdfdfd;
    padding: 80px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 2px;
    width: 150px;
    background-color: #00999c;
    color:snow;
    cursor:pointer;
}
.skills button:hover{
    transition: 1.2s;
    background-color:white;
    color: #00999c;
}

/* -----------------------------------3D card------------------------------------- */
h3{
    margin: 50px auto;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}
section div {
    height: 240px;
    width: 280px;
    /* margin: 40px auto; */
    margin-top: 15px;
    
  }
  
  section {
    perspective: 800px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .side-a,
  .side-b {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .side-a {
    border: 1px solid black;
    border-radius:50% ;
    background-color: palevioletred;
    z-index: 1;
  }
  .side-b {
    background-color: #2ECCFA;
    transform: rotateY(180deg);
    padding: 16px;
  }
  
  .side-b h2 {
    text-align: center;
  }
  
  .side-a img {
    border-radius: 50%;
    height: 240px;
    width: 280px;
  }
  
  .wrap {
    transition: 1s;
    transform-style: preserve-3d;
  }
  
  .wrap:hover {
    transform: rotateY(180deg);
    cursor: pointer;
  }
