
*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 2.5rem;
  }
  .grid-item{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
.section-heading{
    transform: translateX(320px);
}
.heading{
    display: block;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.sub-heading{
    font-size: 1.6rem;
    font-family: cursive;
    font-style: italic;
    color: #a5a5a5;
    padding: 45px;
}
.rooms{
    background-color: #f3f6f9;
    margin-left: 130px;
    margin-right:130px;
}
.image-wrap{
    position: relative;
    height: 20rem;
    
}
.image-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    opacity: 0.3;
}
.room-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room-name{
    font-size: 2.6rem;
    background-color: #DBA901;
    color: #fff;
    padding: 0.5rem 2rem;
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    z-index: 10;
}
.room-price{
    display: block;
    font-size: 3.3rem;
    font-weight: bold;
    color: #DBA901;
}
.per-night{
    color: rgb(3, 7, 7);
    font-size: 1.5rem;
    font-weight: 100;
}
.rooms-btn{
    color: rgb(19, 10, 10);
    padding: 0;
    transition: color 0.5s;
}
.rooms-btn:hover{
    color: #DBA901;
    background-color: rgb(14, 14, 19);
}
div a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 5px;
}

/* ------------------------------------------footer-------------------------------------- */

.footer{
    padding: 5rem 0;
    background-color: #6A0888;
    color: #fff;
    margin-top: 20px;
    
  }
  .footer-content-brand{
    margin-bottom: 5rem;
  }
  .footer-paragraph{
    color:inherit;
  }
  .footer-heading{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
  .social-media{
    display: flex;
  }
  .sm-link{
    width: 4rem;
    height: 4rem;
    font-size: 2.3rem;
    color: rgb(2, 2, 10);
    border: 2px solid yellow;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background-color 0.5s;
  }
  .sm-link:hover{
    background-color: yellow;
    color: black;
  }
  .sm-link i{
    margin: auto;
  }
  .footer-content{
    display: flex;
    justify-content: space-between;
  }
  .footer-content-brand{
    margin-bottom: 0;
    flex:0 0 60%;
  }
  .footer .paragraph{
    margin-top: 2.5rem;
  }
  .footer-heading{
    margin-bottom: 3.3rem;
  }
  .social-media-wrap{
    flex: 0 0 30%;
  }